<div id="home-top" class="row">
<div class="col-md-4 col-md-offset-8 welcome-msg-box">
  <p class="welcome-msg-1">Meet your</p>
  <p class="welcome-msg-2">New Family<i class="fa fa-home fa-1x"></i></p>
  <p type="button" class="student-sign-up-btn" data-toggle="modal" data-target="#studentSignUpModal">Student Sign up</p>
  <p  type="button" class="family-sign-up-btn" data-toggle="modal" data-target="#familySignUpModal">Family Sign Up</p>
 </div>
</div>
<div id="city-search" class="row">
 <div class="col-md-6 col-md-offset-3">
    <p class="city-title">Find by cities</p>
 	<form id="search-form">
	  <input class="search-box" type="text" placeholder="Search..." required>
	  <button class="search-btn"><i class="fa fa-search fa-lg"></i></button>
	</form>
  </div><!--.col-md-6-->
 </div><!--#city-search-->
 <div id="city-list" class="row">
	  <div class="grid">
	  <div class="grid-sizer"></div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/ny.png" />
	        <figcaption>
		      <p id="states">New York</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/oregon.png" />
	        <figcaption>
		      <p id="states">Oregon</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/la.png" />
	        <figcaption>
		      <p id="states"><span>Los Angeles</span></p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/pa.png" />
	        <figcaption>
		      <p id="states"><span>Pansylvania</span></p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/sd.png" />
	        <figcaption>
		      <p id="states">San Diego</p>
	        </figcaption>
	    </figure>
	  </div>
	<!--   <div class="grid-item">
	    <img src="../assets/oregon.png" />
	  </div> -->
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/ma.png" />
	        <figcaption>
		      <p id="states">Boston</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/sf.png" />
	        <figcaption>
		      <p id="states">San Francisco</p>
	       </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	  	  <img src="../assets/seattle.png" />
	  	    <figcaption>
		      <p id="states"><span>Seattle</span></p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/dc.png" />
	        <figcaption>
		      <p id="states">Washington D.C.</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/fl.png" />
	        <figcaption>
		      <p id="states">Florida</p>
	        </figcaption>
	    </figure>
	  </div>
<!-- 	  <div class="grid-item">
	    <img src="../assets/fl.png" />
	  </div> -->
	</div>
 </div><!--#city-list-->
</div>