<div id="home-top">
  <p class="welcome-msg-1">Meet your</p>
  <p class="welcome-msg-2">second Family<i class="fa fa-home fa-1x"></i></p>
  <button class="student-sign-up-btn">
  	<%= link_to 'Student Sign up', new_student_registration_path %>
  </button>
  <button class="family-sign-up-btn">
  	<%= link_to 'Family Sign up', new_family_registration_path %>
  	<%= link_to "Sign in with Facebook", family_omniauth_authorize_path(:facebook) %>
  </button>
</div>
<div id="how-to-work">
</div>
<div id="city-list">
	<p class="city-title">Find by cities</p>
	  <div class="grid">
	  <div class="grid-sizer"></div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/ny.png" />
	        <figcaption>
		      <p id="states">New York</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/oregon.png" />
	        <figcaption>
		      <p id="states">Oregon</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/la.png" />
	        <figcaption>
		      <p id="states">Los Angeles</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/pa.png" />
	        <figcaption>
		      <p id="states">Pansylvania</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/sd.png" />
	        <figcaption>
		      <p id="states">San Diego</p>
	        </figcaption>
	    </figure>
	  </div>
	<!--   <div class="grid-item">
	    <img src="../assets/oregon.png" />
	  </div> -->
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/ma.png" />
	        <figcaption>
		      <p id="states">Boston</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/sf.png" />
	        <figcaption>
		      <p id="states">San Francisco</p>
	       </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	  	  <img src="../assets/seattle.png" />
	  	    <figcaption>
		      <p id="states">Seattle</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	  	<figure>
	      <img src="../assets/dc.png" />
	        <figcaption>
		      <p id="states">Washington D.C.</p>
	        </figcaption>
	    </figure>
	  </div>
	  <div class="grid-item">
	    <figure>
	      <img src="../assets/fl.png" />
	        <figcaption>
		      <p id="states">Florida</p>
	        </figcaption>
	    </figure>
	  </div>
<!-- 	  <div class="grid-item">
	    <img src="../assets/fl.png" />
	  </div> -->
	</div>
</div>