<div id="home-top">
  <p class="welcome-msg-1">Meet your</p>
  <p class="welcome-msg-2">second <span>Family</span><i class="fa fa-home fa-1x"></i></p>
  <button class="student-sign-up-btn">
  	<%= link_to 'Student Sign up', new_student_registration_path %>
  </button>
  <button class="family-sign-up-btn">
  	<%= link_to 'Family Sign up', new_family_registration_path %>
  </button>
</div>
<div id="city-list">

</div>