<% @familyprofiles.each  do |familyprofile| %>
<h1> Name: <%= familyprofile.fname %>  <%= familyprofile.lname %></h1>
<p> City: <%= familyprofile.town %></p>
<p> Zipcode: <%= familyprofile.zipcode %></p>
<% end %>