<% if current_student %>
	Please update your  
	<%= link_to " profile", studentprofile_path %>
<% else %>
	<% nil %>
<% end %>


<% if current_family %>
please update your 
 <%= link_to " profile", familyprofile_path %>
<% else %>
	<% nil %>
<% end %>


<div id="hope-page-top">
  
</div>

	