/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
/*--------------------------------------
	Fonts and colors
 ---------------------------------------*/
@import 'fonts';
$dark-orange: #ff7321;
$light-orange: #ffa36d;
$back-color: #f0f0f0;
$white-color: #f8f8f7;
$font-color: #564b47;
$brown-color: #6d6262;

body{
	// font-family: 'Lato', sans-serif;
	// font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: $back-color;

}

header {
	width: 100%;
	height: 60px;
	margin: 0;
	background-color: $white-color;
	z-index: 2;

	
nav {
	// width: 70%;
	height: 60px;
	margin: 0;
	color: $font-color;
	font-weight: 300;
	form {
		width: 18%;
		margin-right: 10px;
		float: right;
		input {
			width: 150px;
			height: 20px;
			margin: 10px;
			color: gray;
			display: inline;
			float: left;
			border: 1px solid $font-color;
			border-radius: 5%;
		}

		  input:focus {
		  	outline: none;
		  	border-color: $light-orange;
		  	border-radius: 5%;
		  }

		 .fa-search {
		 	color: $font-color;
		 	float: left;
		 	margin: 14px;
		 	transition-property: color;
		 	transition-duration: 0.2s;
		 	transition-timing-function: linear;
		 	
		 }
		 .fa-search:hover {
		 	// color: #ffdcd0;
		 	color: $light-orange;
		 }

	}

	.nav-logo {
		width: 5%;
		margin: 0;
		float: left;
	
	img {
		width: 55px;
		height: 55px;
		margin: 2.5px 10px;
	  }
 	}
  ul {
  	 width: 60%;
  	 height: 25px;
  	 float: left;
  	 margin-left: 0;
  	 padding-top: 5px; // margin-top: 2.5px;

  	li {
  		list-style: none;
  		display: inline;
  		height: 50px;
  		margin: auto 10px;

  		 a {
  		 	color: $font-color;
  		 	text-decoration: none;
  		 	letter-spacing: 1px;
  		 }
  
  	 }
   }
  }
}
/*===== nav button border == */
li.nav-button {

  // border: 1px solid #eee;
  border: none;
  padding: 5px 20px;
  position: relative;

}

.change-border::after,
.change-border::before,
.change-border__inner::after,
.change-border__inner::before {
  background-color: $light-orange;
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
/* setting upper-left*/
.change-border::after {
    height: 1px;
    left: -1px;
    top: -1px;
    width: 0px;
}
/* setting lower-right*/
.change-border::before {
  bottom: -1px;
  height: 1px;
  right: -1px;
  width: 0px;
}
/* setting lower-left */
.change-border__inner::after {
  bottom: -1px;
  height: 0px;
  left: -1px;
  width: 1px;
}
/* setting lower-right */
.change-border__inner::before {
  height: 0px;
  right: -1px;
  top: -1px;
  width: 1px;
}

/* hover */
.change-border:hover::after,
.change-border:hover::before {
  width: 100%;
  width: calc(100% + 1px);
}
.change-border:hover .change-border__inner::after,
.change-border:hover .change-border__inner::before {
  height: 100%;
  height: calc(100% + 1px);
}



/*Login & Signup form*/

.modal-content {
	// font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	background-color: $white-color;
	border-radius: 30px;
	color: $brown-color;

  .modal-title {
   	// color: $dark-orange;
	}

   form {
      margin-top: 10px;
      margin-bottom: 10px;
	}
   .email input:focus, .pw input:focus, .pwc input:focus {
   	outline: 2px solid $light-orange;
    }

   .field {
   	width: 40%;
   	margin: 0 30%;

   	label {
     font-weight: 300;
     }

    #family_email, #student_email, #family_password, #student_password,#student_password_confirmation, #family_password_confirmation {
     	width: 100%;
     }
  }
  	.submit {
  		@extend .field;
  		margin-top: 10px;
      input {
      	float: right;
      	// background-color: $light-orange;
      	border: 2px solid $light-orange;
      	background-color: #FFF;
      	color: $light-orange;
      	border-radius: 5px;
      	font-weight: 300;
      	transition-property: color font-weight background-color border;
      	transition-duration: 0.3s;
      	transition-timing-function: linear;

      &:hover {
      	background-color: $light-orange;
      	border: 2px solid #FFF;
      	color: $white-color;
      	font-weight: 400;
      }
      }
  	}
  	.forget-pw {
  		color: $light-orange;

  		&:hover {
  			color: $dark-orange;
  			text-decoration: none;
  		}
  	}
}














