@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,300italic,100,100italic,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,300italic,400italic,500,500italic,700,700italic);
$dark-orange: #ff8b6f;
// $light-orange: #ffa36d;
// $light-orange: #ffa583;
$light-orange: #ff9b83;
$back-color: #f0f0f0;
$white-color: #f8f8f7;
$off-white-color: #fcfcfc;
$font-color: #564b47;
$brown-color: #6d6262;
$gray-color: #c4c4c4;
$light-gray-color: #acacac;
