body { 
    background: url(../img/profilepic.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
	width: 100%;
	height: 75px;
	margin: 0;
	background-color: #adcae6;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	

	
nav {
	// width: 70%;
	height: 50px;
	margin: 0;
	color: #FFF;
	font-weight: 300;
	form {
		width: 18%;
		margin-right: 10px;
		float: right;
		input {
			width: 150px;
			height: 20px;
			margin: 10px;
			color: gray;
			display: inline;
			float: left;
			border: 1px solid #FFF;
			border-radius: 5%;
		}

		  input:focus {
		  	outline: none;
		  	border-color: #ffdcd0;
		  	border-radius: 5%;
		  }

		 .fa-search {
		 	color: #FFF;
		 	float: left;
		 	margin: 14px;
		 	transition-property: color;
		 	transition-duration: 0.5s;
		 	transition-timing-function: linear;
		 }
		 .fa-search:hover {
		 	color: #ffdcd0;
		 }

	}

	img {
		width: 200px;
		height: 50px;
		margin: 10px;
	  }

  ul {
  	 width: 70%;
  	float: left;
  	margin: 0;

  	li {
  		list-style: none;
  		display: inline;
  		margin: auto 10px;

  		 a {
  		 	color: #FFF;
  		 	text-decoration: none;
  		 }
  
  	 }
   }
  }
}