// Place all the styles related to the studentprofiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_familyprofile {

	input {

	}
}