// Place all the styles related to the studentprofiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import 'fonts_color';

//=== Family profile & student profile form ==/
#profile-form-container {
 	margin: 20px auto;

 	p {
 		color: $dark-orange;
 		text-align: center;
 		letter-spacing: 1px;
 	}
 }
#new_familyprofile, #new_studentprofile {
	color: $brown-color;

	input {
		width: 50%;
		height: 25px;
		margin:  5px 25%;
		padding: 3px 10px;
		border: none;
		color: $brown-color;
		background-color: #FFF;
		border-radius: 5px;
		// float: left;
	}
    input:focus {
		outline: 2px solid $light-orange;
		
	}
	.profile-select-box {
		@extend input;
		  margin: 9px 25%;
		  padding: 0 10px;
	// for caladner box  //
		input {
		  width: 80%;
		  color: $light-gray-color;
		  font-weight: 400;
		  margin: 0;
		  padding: 0;
		  float: right;
		  // border-radius: 10px;

		  &:focus {
		  	color: $brown-color;
		  	outline: none;	
		  }
		}
	// for caladner box label //
		label.date-label {
			width: 20%;
			height: 25px;
			margin: 0;
			padding: 0;
			float: left;
		}

	}
	// for select box label //
	label {
		color: $light-gray-color;
		font-weight: 400;
		margin: 0;
	}
	// for Select box //
	select {
		background-color: #FFF;
		border: none;
		outline: none;
		float: right;
	}

	.profile-submit-btn {
		background-color: $light-orange;
		color: $off-white-color;

	  &:hover {
		  background-color: $dark-orange;
		  color: #FFF;
	  }
	}

	input.filestyle {
		background-color: none;
		border: none;
		outline: none;

	}
}

//=== family & student profile show page ==//
.profile-container {
	margin: 30px 0;
	color: $brown-color;
	border-radius: 20px;
	// border: 2px solid $light-orange;

	.profile-image {
		border-bottom: 1.5px solid $gray-color;
		margin-top: 10px;
		// margin: 20px 25%;
		// background-color: #FFF;
		// margin: 10px 0;
		
		.img-circle {
			border: 2px solid #FFF;
			margin: 10px;
			display: inline-block;
		}
	    p.profile-name {
	    	@extend .img-circle;
	    	border: none;
	    	font-size: 18px;
	    	letter-spacing: 1px;
	    }
	}
	.profile-info {
	  @extend .profile-image;

	    p {
		  font-weight: 300;
		}
	}

	span {
		color: $dark-orange;
		font-weight: 400;
		padding: 0 8px;
	}
}

// === Buttons ===//
.profile-buttons {
	padding-top: 10px;

  .delete-btn {
	  width: 60px;
	  height: 30px;
	  font-size: 12px;
	  text-align: center;
	  padding-top: 5px;
	  background-color: $light-orange;
	  border: 2px solid $off-white-color;
	  border-radius: 10px;
	  opacity: 0.9;
	  margin: 0 7px;
	  float: right;
	    a {
	      color: $off-white-color;
	      text-decoration: none;
	    }
	    &:hover {	   	
  	 	  background-color: $dark-orange;
  	 	  border-color: #FFF; 	 	
  	 	  opacity: 1;
	    }
	 
	    &:hover a {
	 	  color: #FFF;
	 	  text-decoration: none;
	    }
	 
	    &:focus {
	 	  outline: none;
	    }
   }

  .edit-btn {
	  @extend .delete-btn;
	  background-color: $off-white-color;
	  border: 2px solid $light-orange;
	  opacity: 0.9;

	    a {
	      color: $light-orange;
	      text-decoration: none;
	    }

	   &:hover {
	 	  background-color: #FFF;
  	 	  border-color: $dark-orange;
  	 	  opacity: 1;
	   }

  	   &:hover a {
  	 	  color: $dark-orange;
  	 	  text-decoration: none;
	   }
	 
	   &:focus {
	 	  outline: none;	
	   }
   }
}




